/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS */

/* Variables */
:root {
  --mysalmon: #f96353;
}

body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  background-image: url(img/bubble-pattern.png);
  color: #333;
}

.container {
  width: 800px;
  min-height: 100vh;
  margin: auto;
  background-color: white;
}

header {
  padding: 20px;
}

header .judul {
  font-size: 44px;
  font-weight: bold;
}

header ul li {
  margin-top: 20px;
  margin-right: 5px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--mysalmon);
}

header a {
  padding: 3px;
}

a:hover {
  text-decoration: underline;
}

.hero {
  height: 300px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: 0 -100px;
  border-bottom: 5px solid lightskyblue;
  border-top: 5px solid var(--mysalmon);
}

main {
  padding: 20px;
}

main h2 {
  font-size: 32px;
  font-weight: bold;
}

main .penulis {
  font-size: 14px;
}

main p {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  padding: 10px;
}

footer .copyright {
  color: #eee;
  text-align: center;
  font-size: 13px;
}
